{
  "MainFunction": {
    "ALLOWED_ORIGIN": "*",
    "ALLOWED_ORIGINS": "http://localhost:5173",
    "DATA_BUCKET": "pj007-dev-digging-tournament",
    "CONFIG_TABLE": "pj007-dev-digging-tournament-config",
    "SCORES_TABLE": "pj007-dev-digging-tournament-scores",
    "SUBMISSIONS_TABLE": "pj007-dev-digging-tournament-submissions",
    "SFL_API_KEY": "replace-me",
    "SFL_MIN_INTERVAL_SECONDS": "12"
  },
  "FarmSyncFunction": {
    "DATA_BUCKET": "pj007-dev-digging-tournament",
    "CONFIG_TABLE": "pj007-dev-digging-tournament-config",
    "SCORES_TABLE": "pj007-dev-digging-tournament-scores",
    "SUBMISSIONS_TABLE": "pj007-dev-digging-tournament-submissions",
    "SFL_API_KEY": "replace-me",
    "SFL_MIN_INTERVAL_SECONDS": "12"
  }
}
